html
  background-color: #3B4A6B
  color: white
  font-family: sans-serif
body, p, ul, h2
  margin: 0
h1
  margin: 0 0 20px 0
  padding-top: 20px
  text-align: center
h2
  curosr: pointer
  padding: 10px
  span
    display: inline-block
    float: right
    margin-right: 10px
#root
  max-width: 800px
  background-color: #22B2DA
  margin: 0 auto
.recipe
  background-color: #F23557
  border-bottom: 2px solid #F0D43A
  &:first-child
    border-top: 2px solid #F0D43A
.recipe
  h2
    cursor: pointer
  .recipeDescription
    background-color: #22B2DA